@*@foreach (var product in Model)
{

}

<div class="title">
    @product.title
</div>

<div class="intro">

    @product.intro
</div>

<div class="par1">
    @product.par1
</div>

<div class="par2">
    @product.par2
</div>

<divl class="par3">
    @product.par3
</divl>

<div class="conclusion">
    @product.conclusion

</div>*@